body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.navbar {
  background-color: #000000;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 45px 3px 45px;
}

.navbar a {
  color: #f2f2f2;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s;
}

.navbar img {
  width: 60px;
  height: auto;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Estilos para el botón de menú en dispositivos móviles */
.navbar a.icon {
  cursor: pointer;
}

.navbar a.icon:hover {
  background-color: transparent;
}

.navbar a.icon::before {
  content: "\2630"; /* Representación del símbolo de las tres líneas (hamburguesa) */
  font-size: 28px;
}

@media screen and (max-width: 768px) {
  .navbar {
      align-items: center;
  }

  .navbar a {
      width: 100%;
      text-align: right; /* Centrar las opciones del menú */
      display: none; /* Ocultar enlaces en dispositivos móviles por defecto */
  }

  .navbar img {
      order: -1; /* Colocar el logo antes del botón en dispositivos móviles */
  }

  .navbar a.icon {
      display: block; /* Mostrar el botón de menú en dispositivos móviles */
  }

  .navbar.responsive {
      flex-direction: column;
  }

  .navbar.responsive a {
      display: block;
  }
}

@media screen and (min-width: 769px) {
  .navbar a.icon {
      display: none;
  }
}

.container {
  height: 100%;
  display: flex;
  overflow: hidden;
}

.left, .right {
  flex: 1;
  transition: flex 1.1s ease; /* Ajusta el tiempo de transición aquí */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3498db; /* Color por defecto para ambos lados */
}

.right {
  background-color: #2ecc71;
}