:root {
    --primaryColor: #FC9C03;
    --secondColor: #fff;
    --thirdColor: #000;
    --fourthColor : #3d3d3d;

    --primaryFont: 'Anek Latin', sans-serif;
    --secondFont: 'Kdam Thmor Pro', sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    background-color: #fffbea;
    background-size: cover;
    background-position: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--secondColor);
    font-size: 1rem;
}

a:hover {
    color: var(--thirdColor);
}


/* HEADER */
header {
    position: relative;
    padding: 0 2rem;
}

/* Linea */
.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 900px;
}

/* SCROLL */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #FC9C03;
  border-radius: 50px;
  transition: background-color 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #FC9C03;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

/* NAVBAR */
.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a img{
    width: 25px;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: var(--thirdColor);
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.links li a,
.dropdown_menu li a {
    font-family: var(--primaryFont);
}


.action_btn {
    background-color: var(--secondColor);
    color: var(--primaryColor);
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.5 ease;
    font-family: var(--primaryFont);
    font-weight: 500;
}

.action_btn:hover {
    scale: 1.05;
    color: var(--primaryColor);
    font-family: var(--primaryFont);
}

.action_btn:active {
    scale: 0.95;
}

/* DROPDOWN BOTON NAVBAR */

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 220px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width: 992px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}



/* BODY */
.background {
    z-index: -1;
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
    }
}

span {
    color: var(--thirdColor);
    font-weight: 500;
    font-size: 4.5rem;
    letter-spacing: 1px;
}

.wrapper {
    display: grid;
    margin-left: 85px;
    margin-top: 50px;
}

.firstLetter {
    color: var(--fourthColor);
    font-weight: 900;
    font-size: 3.5rem;
    letter-spacing: 1px;
    font-family: var(--primaryFont);
}

.multiText {
    color: var(--secondColor);
    font-weight: 900;
    font-size: 4.7rem;
    text-transform: capitalize;
    font-family: var(--primaryFont);
}

.disc {
    margin-top: 50px;
}

@media (max-width: 768px) {
    .disc {
        margin-top: 1px;
    }
}

@media (max-width: 768px) {
    .firstLetter {
        font-weight: 600;
        font-size: 2.5rem;
    }
}


@media (max-width: 576px) {

    .wrapper {
        padding: 20px; 
        margin-left: -9px;
        margin-top: 20px;
        line-height: 45px;
    }

    .firstLetter {
        font-weight: 900;
        font-size: 1.6rem;
    }

    .multiText {
        font-weight: 900;
        font-size: 2.6rem;
    }
}



/* LOADER */

.cubes {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-style: preserve-3d;
  }
  
  .loop {
    transform: rotateX(-35deg) rotateY(-45deg) translateZ(1.5625em);
  }
  
  @keyframes s {
    to {
      transform: scale3d(0.2, 0.2, 0.2);
    }
  }
  
  .item {
    margin: -1.5625em;
    width: 3.125em;
    height: 3.125em;
    transform-origin: 50% 50% -1.5625em;
    box-shadow: 0 0 0.125em currentColor;
    background: currentColor;
    animation: s 0.6s cubic-bezier(0.45, 0.03, 0.51, 0.95) infinite alternate;
  }
  
  .item:before,
  .item:after {
    position: absolute;
    width: inherit;
    height: inherit;
    transform-origin: 0 100%;
    box-shadow: inherit;
    background: currentColor;
    content: "";
  }
  
  .item:before {
    bottom: 100%;
    transform: rotateX(90deg);
  }
  
  .item:after {
    left: 100%;
    transform: rotateY(90deg);
  }
  
  /* Colores para los elementos individuales */
  .item:nth-child(1) {
    margin-top: 6.25em;
    color: #fe1e52;
    animation-delay: -1.2s;
  }
  
  .item:nth-child(1):before {
    color: #ff6488;
  }
  
  .item:nth-child(1):after {
    color: #ff416d;
  }
  
  .item:nth-child(2) {
    margin-top: 3.125em;
    color: #fe4252;
    animation-delay: -1s;
  }
  
  .item:nth-child(2):before {
    color: #ff8892;
  }
  
  .item:nth-child(2):after {
    color: #ff6572;
  }
  
  .item:nth-child(3) {
    margin-top: 0em;
    color: #fe6553;
    animation-delay: -0.8s;
  }
  
  .item:nth-child(3):before {
    color: #ffa499;
  }
  
  .item:nth-child(3):after {
    color: #ff8476;
  }
  
  .item:nth-child(4) {
    margin-top: -3.125em;
    color: #fe8953;
    animation-delay: -0.6s;
  }
  
  .item:nth-child(4):before {
    color: #ffb999;
  }
  
  .item:nth-child(4):after {
    color: #ffa176;
  }
  
  .item:nth-child(5) {
    margin-top: -6.25em;
    color: #feac54;
    animation-delay: -0.4s;
  }
  
  .item:nth-child(5):before {
    color: #ffce9a;
  }
  
  .item:nth-child(5):after {
    color: #ffbd77;
  }
  
  .item:nth-child(6) {
    margin-top: -9.375em;
    color: #fed054;
    animation-delay: -0.2s;
  }
  
  .item:nth-child(6):before {
    color: #ffe49a;
  }
  
  .item:nth-child(6):after {
    color: #ffda77;
  }
  
  /* Estilos adicionales para el contenido de la página */
  .content {
    display: none;
  }
  #canvas3d {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

/* SEGUNDO DIV */

.contenedor {
  padding: 60px 0;
}

.sobremi {
  background-color: var(--secondColor);
}

.contenedor-sobremi {
  padding: 1px 0;
}

.titulo {
  font-size: 40px;
  text-align: center;
  margin-bottom: 60px;
}
.titulo:hover {
  color: var(--primaryColor);
  cursor: pointer;
}

.container-sobremi {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.foto,
.descripcion {
  width: 100%;
  max-width: 400px; /* o el valor deseado */
  margin: auto;
}

@media (min-width: 769px) {
  .container-sobremi {
    flex-direction: row;
    justify-content: center;
  }

  .foto,
  .descripcion {
    width: auto;
    text-align: center;
  }
}


.foto:hover .imagen {
  transform: translate(-5px, -5px);
  opacity: 0.8;
}

.descripcion {
  margin-top: 20px; /* Ajusta el margen superior según sea necesario */
}
.nombre {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease-out;
  font-weight: 600;
}

.foto {
  position: relative;
  width: 300px; /* Ajusta el tamaño según tu necesidad */
  height: 300px;
  overflow: hidden;
  display: inline-block;
}

.imagen {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  border-radius: 20px 20px 20px 20px;
}

.foto:hover .nombre {
  opacity: 1;
}

.descripcion {
  margin: 0 auto;
  font-size: 1.2rem;
  line-height: 1.6;
  color: #333; /* Color del texto */
  max-width: 600px; /* Limita el ancho para mejorar la legibilidad en pantallas grandes */
  text-align: center; /* Alinea el texto al centro */
}


.descripcion strong {
  font-weight: bold; /* Hace que el texto en negrita sea más llamativo */
}





.tecnologias {
  padding: 50px 0; /* Ajusta según tus necesidades de diseño */
  background-color: #fffbea; /* Color de fondo para la sección */
}

.contenedor-tecnologias {
  max-width: 1200px;
  margin: 0 auto;
}

.titulo {
  text-align: center;
}







.container-tecnologias {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.tool-code,
.tool-design {
  flex: 1 1 calc(50% - 20px); /* Ancho máximo para ocupar la mitad */
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
  margin: 10px;
  border-color: #333;
  border-width: 2px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tool-code h3,
.tool-design h3 {
  color: #333;
}

.icon-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Para que las imágenes se desplacen hacia abajo cuando no haya espacio en la fila */
}

.icon-container img {
  margin: 10px 10px;
  max-width: 60px; /* Ajusta según tus necesidades */
  height: auto;
  object-fit: contain;
}
